body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: lighten( lightgrey, 10%);
}

.login, .newMessage {
    padding: 1.2em 1em;
    background-color: #3563fe;
}

input {
    font-size: 14pt;
    margin-left: 1em;

}
.pastMessages {
    display: grid;
    grid-template-columns: 0.25fr 0.35fr 1fr;
    grid-template-rows: repeat(13, 1fr);
    > * {
        margin: 0.3em;
    }
    padding: 1em;
    overflow-y: auto;
}

.newMessage {
    >.entry {
        display: flex;
        >input { width: 100%; }
        >img { width: 2.5em; }
    }
    >.error {
        padding: 1em 0;
        font-weight: bold;
        color: yellow;
    }

}