<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.0/less.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./client.js" type="text/javascript"></script>
    <title>Chat Room</title>

</head>
<body>
    <div class="login">
       <label for="userName">User Name:</label>
       <input type="text" name="userName">
    </div>

    <div class="pastMessages">
        {{ include('chat.html.twig') }}
    </div>

    <div class="newMessage">
        <div class="entry">
            <img src="speechBubble.png" alt="chatbubble">
            <input type="text" name="newText" value="Type a message">
        </div>
        <div class="error"></div>
    </div>



</body>
</html>